.content {
    padding: 5%;
}
.buttons {
    float: right;
    position: relative;
}
.arrows {
    float: right;
}

/*a {
    color: black;
    text-decoration: none;
}*/

article {
    padding: 20pt;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
#rating {
    float: right;
    margin-top: -30pt;
    margin-right: 18pt;
    /*display: inline-block;*/
}
.image-container {
    width: 100%;
    text-align: center;
}
#preview {
    opacity: .98;
    width: 90%;
    border-radius: 2px;
}
h5 {
    word-wrap: break-word;
}
.loader-container {
    /*width: 100%;*/
    text-align: center;
    animation: rotation 1s infinite;
    margin: 50pt 0 50pt 0;
}
#loader {
    font-size: 30pt;
    font-weight: 700;
    opacity: .8;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#summary {
    visibility: hidden;
}
webview {
    visibility: hidden;
    position: fixed;
    top: -1000px;
    left: -100%;
}
